*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #111;
    height: 100vh;
}
.head{
    text-align: center;
    color: #76ff03;
    font-size: 40px;
    font-weight: 600;
    padding-top: 50px;
   
}
.container span1{
    width: 50px;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: -180px;
    z-index: -1;
    background-color: #000000;
    box-shadow: 0 0 50px #76ff03,
                0 0 100px #76ff03,
                0 0 150px #76ff03,
                0 0 200px #76ff03;
    animation: animate 5s linear infinite;
}
.container span1:nth-child(1){
    left: 60px;
    animation-delay: 0.6s;
}
.container span1:nth-child(2){
    left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
}
.container span1:nth-child(3){
    left: 20%;
    animation-delay: 2s;
}
.container span1:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}
.container span1:nth-child(5){
    left: 40%;
    animation-delay: 1s;
}
.container span1:nth-child(6){
    left: 50%;
    animation-delay: 7s;
}
.container span1:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}
.container span1:nth-child(8){
    left: 70%;
    animation-delay: 8s;
}
.container span1:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
}
.container span1:nth-child(10){
    left: 90%;
    animation-delay: 4s;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background: #eeeeee;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px;
    outline: none;
}
button{
    
    border: none;
    background: #76ff03;
    padding: 16px 50px;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 40%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #388e3c;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(check.png);  
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 35px;
    height: 35px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 110px 0;
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    font-size: 12px;
}
@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: .7;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}
@media only screen and (max-width: 600px){
    .head{
        text-align: center;
        color: #76ff03;
        font-size: 25px;
        font-weight: 700;
        padding-top: 50px;
    }
    .container span1{
        width: 50px;
        height: 50px;
        padding: 0;
        position: fixed;
        bottom: -180px;
        z-index: -1;
        background-color: #000000;
        box-shadow: 0 0 50px #76ff03,
                    0 0 100px #76ff03,
                    0 0 150px #76ff03,
                    0 0 200px #76ff03;
        animation: animate 5s linear infinite;
    }
    .container span1:nth-child(1){
        left: 60px;
        animation-delay: 0.6s;
    }
    .container span1:nth-child(2){
        left: 10%;
        animation-delay: 3s;
        width: 40px;
        height: 40px;
    }
    .container span1:nth-child(3){
        left: 20%;
        animation-delay: 2s;
    }
    .container span1:nth-child(4){
        left: 30%;
        animation-delay: 5s;
        width: 50px;
        height: 50px;
    }
    .container span1:nth-child(5){
        left: 40%;
        animation-delay: 1s;
    }
    .container span1:nth-child(6){
        left: 50%;
        animation-delay: 7s;
    }
    .container span1:nth-child(7){
        left: 60%;
        animation-delay: 6s;
        width: 70px;
        height: 70px;
    }
    .container span1:nth-child(8){
        left: 70%;
        animation-delay: 8s;
    }
    .container span1:nth-child(9){
        left: 80%;
        animation-delay: 6s;
        width: 60px;
        height: 60px;
    }
    .container span1:nth-child(10){
        left: 90%;
        animation-delay: 4s;
    }
    .todo-app{
        width: 80%;
        max-width: 540px;
        background: #fff;
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
    }
    .button{
        border: none;
        background: #76ff03;
        padding: 0;
        outline: none;
        color: #fff;
        font-size: 2px;
        cursor: pointer;
        border-radius: 40px;
        
        
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        background: #eeeeee;
        padding: 5px 0;
        margin-bottom: 25px;
        width: 250px;
        height: 40px;
        text-align: center;

    }
    input{
        flex: 1;
        border: none;
        background: transparent;
        padding: 5px 5px;
        outline: none;
        width: 40px;
        height: 30px;
    }
    .copyright{
        width: 100%;
        text-align: center;
        padding: 210px 0;
        color: #fff;
        font-weight: 300;
        margin-top: 20px;
        font-size: 12px;
    }
}
